.container p {
	font-family: "Helvetica Neu", sans-serif 
}
.container{
	background-color: silver;
	width: 50%;
	margin: 100px auto;
}
a {
color: red;
text-decoration: none;

}
a:hover{
	color:green;
}